    h1 {
        text-align: center;
        color:black;
    }
    h2 {
        text-align: center;
        color: rebeccapurple;
    }
    h3{
        text-align: center;
        color: blue;
    }
    div {
            color: purple;
            border: 1px solid #333;
            padding: 20px;
            width: 300px;
            display: inline-block;
        }
    div.container {
        width: 100%; 
        border: 0;
        text-align: center;
    }
    img {
        width: 300px;
        height: 200px;
        }

        #btn01 {
            background-color: green;
            color : white;
            border: 0;
            padding: 10px 20px;
        }
         #btn02 {
                background-color: green;
                color : white;
                border: 0;
                padding: 10px 20px;    
        }
         #btn03 {
                    background-color: green;
                    color : white;
                    border: 0;
                    padding: 10px 20px;    
        }
         #btn04 {
            background-color: rgb(23, 23, 255);
            color : white;
            border: 0;
            padding: 10px 20px;    
        } 
         #btn05 {
            background-color: rgb(33, 33, 254);
            color : white;
            border: 0;
            padding: 10px 20px;    
        }
        #btn06 {
            background-color: rgb(37, 37, 254);
            color : white;
            border: 0;
            padding: 10px 20px;    
        }
        
    .modal {
            width: 40%;
            min-height:400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(214, 212, 212);

        }
    .photo{
        width: 90%;
        border: 0;
        text-align: center;
        box-sizing: border-box;
    }
    .photo img {
        width: 80%;
        height: auto;
    }

    #close_modal{
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);

    }
    
    
     
    
        