@media screen and (max-width:480px) {
    h1 {
       background-color: blue;
       color: white;
       margin: 0;
    }
    h2 {
        text-align: left;
        border-bottom: 1px solid #333;
        max-width: 90%;
        margin: 0 auto;
        padding: 20px; 
        box-sizing: border-box;
    }
        div {
         width: 90%;
         box-sizing: border-box;
         margin: 30px 0;

    }
    .title {
        color: white;
        font-size: 120%;
        background-color: gray;
    }
    .office {
        color: rgb(36, 4, 122);
    }
    .address{

    }
    .manager {

    }
 }